

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  align-items: flex-start;
}

.card {
  background: white;
  padding: 1rem 0;
  border: 2px solid black;
  border-radius: 0.25rem;
  height: 350px;
  width: 300px; 
  margin: 3rem;

}

.cardimage {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-bottom: .5rem;
  position: relative;
}



.image {
  height: auto;
  width: auto; 
  max-width: 300px;
  max-height: 200px;;
  padding: 0;
}



.body{
  block-size: 15%;
}

.body > h2 {
  font-size: 1.5rem;
  text-align: center;
}

.footer {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}

.footer > button {
  display: flex;
  text-align: center;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  background: #84d66c;
}

.button{
  --color: hsl(200, 50%, 50%);
  background: var(--color);
  border:none;
  padding: .5em;
  border-radius: .25em;
}

