

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  align-items: flex-start;
}
.grid:hover .description  {
  display: flex;
}


.card {
  background: white;
  border: 3px solid #336b6f;
  border-radius: 0.25rem;
  height: 320px;
  width: 300px; 
  margin: 3rem;

}

.cardimage {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-bottom: .5rem; 
  position: relative;
}



.image {
  height: auto;
  width: 100%; 
  max-width: 300px;
  max-height: 200px;
  padding: 0;
}

.description {
  display:none;
  justify-content: center;
  height: 100%;
  width: 100%; 
  max-width: 300px;
  max-height: 200px;
  padding: 1rem;
  background-color: rgba(0,0,0,0.6);
  color:#fff;
  position: absolute;
  top:0;
  left:0;
  z-index:2;
  transition:all 5s ease-out;
}

.body > h2 {
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}

.footer {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
}
body {
  height: 100vh;
}

.footer > button {
  display: flex;
  text-align: center;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: inherit;
}


.button{
  --color: #b66d38;
  background: var(--color);
  border:none;
  margin: 0.25em;
  padding: 0.5em;
  border-radius: .25em;
}

