.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:6em 10em 0 10em;
}

.HTML {
  margin: .5em;
}

.HTML img {
  border: 1px solid purple;
  height: 3em;
}

.CSS3 {
  margin: .5em;

}

.CSS3 img {
  border: 1px solid purple;
  height: 3em;
}

.CSS3 p {
  text-align: center;
}

.JavaScript {
  margin: .5em;
}

.JSimageContainer {
  display: flex;
  justify-content: center;
}

.JavaScript img {
  height: 3em;
}

.JavaScript p {
  padding-top: 0.4em;
}

.Git {
  margin: .5em;
}

.Git img {
  height: 3em;
}

.Git p {
  text-align: center;
  padding-top: 0.2em;
}

.Express {
  margin: .5em;
}

.Express img {
  height: 3em;
}

.Express p {
  padding-top: .2em;
}

.NodeJS {
  margin: .5em;
}

.NodeJS img {
  height: 3em;
}

.MongoDB {
  margin: .5em;
}

.mongoImageContainer {
  display: flex;
  justify-content: center;
}

.MongoDB img {
  height: 3em;
}

.MongoDB p {
  padding-top: 0.2em;
}

.React {
  margin: .5em;
}

.React img {
  height: 3em;
}

.Python {
  margin: .5em;
}

.Python img {
  height: 3em;
}

.Django {
  margin: .5em;
}

.Django img {
  height: 3em;
}