
.home {
  margin: 7em 2em 2em 2em;
  display: flex;
  align-items: center;
  max-height: 1200px;
  width: 100%
}

.image {
  display:flex;
  height:100%;
  max-width: 40%;
  
}

.home img {
  max-height: 20%;
  max-width: 100%;
  display: inline;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 20%;
}

.introduction {
  margin-top: 5em;
  padding: 30px;
}

.homeTitle {
  display: flex;
  font-size: 50px;
}

.homeDescription {
  padding-right: 30px;
  margin-top: 2em;
  font-size: 30px;
  text-align: center;
}

@media  (max-width: 601px){
  .home {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    
  }

  .image {
    display:flex;
  }

  .introduction {
    margin: 0;
    height: auto;
  }

  .homeTitle {
    margin: 0;
    font-size: 50px;
  }

  .homeDescription {
    margin: 2px;
  }


}