
.home {
  margin-top: 4rem;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  /* max-height: 1200px; */
  /* width: 100%; */
  height:100vh;
}

span {
  color:#b66d38;
}

.image {
  height:100%;
  width: 50%;
  margin: 0;
  /* padding-left: 10em; */
}
.home img {
  max-height: 50%;
  max-width: 100%;
  /* display: inline; */
  /* margin-left: auto;
  margin-right: auto; */
  /* margin-top: 10em; */
  padding: 0;
  margin:7em 0 0 7em;
  border-radius: 20%;
}


.introduction {
  /* margin-top: 5em; */
  padding: 30px;
  width: 50%;
}

.homeTitle {
  display: flex;
  font-size: 50px;
  margin: 2.5em 0 0 0;
  
  
  text-align: center;
}

.homeTitle span {
  padding: 0 0 0 10px;
}

.homeDescription {
  padding-right: 30px;
  margin-top: 4em;
  font-size: 30px;
  line-height: 1.2em;
  text-align: left;
}

/* @media  (max-width: 601px){
  .home {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    
  }

  .image {
    display:flex;
  }

  .introduction {
    margin: 0;
    height: auto;
  }

  .homeTitle {
    margin: 0;
    font-size: 50px;
  }

  .homeDescription {
    margin: 2px;
  }


} */