.contact {
  display: flex;
  align-items: center;
  justify-content:center;
  margin-top: 4em;
  padding: 2em;
}

.contact > a {
  padding: 0 2em 0 2em;
}

.contact > a > img {
  height:50px;
}

h1 {
  text-align: center;
}