Projects-List{
  background-color: red;
}
Project-List li {
  size: 300px;
}

image {
  height: 500px;
}

title {
  text-align: center;
}

button {
  align-content: center;
}

project-container {
  
}

project-card {
  align-content: center;

}